@using Microsoft.EntityFrameworkCore
@model Tuple<IEnumerable<Microsoft.EntityFrameworkCore.Metadata.IEntityType>, string>

@{
    ViewData["Title"] = "Админ";
}

<h1>Админ</h1>

<h5>Список таблиц</h5>
<ul>
    @foreach (var item in @Model.Item1)
    {
        <li>
            @item.GetTableName()
        </li>
    }
</ul>

<h5>Выполнение запросов</h5>
<form asp-action="Query">
    <textarea style="font-family: monospace" name="query" placeholder="select * from Users"></textarea>
    <br />
    <input type="submit" value="Выполнить" class="btn btn-success" />
</form>

<pre>@Model.Item2</pre>
