@model Blog.Models.User

@{
    ViewData["Title"] = "Профиль";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать, @Model.Email</h1>
</div>

<form asp-controller="Home" asp-action="ChangeEmail">
    <label>Введите Email</label>
    <input type="hidden" value="@Model.Id" name="id" />
    <input type="text" name="email" />
    <input type="submit" value="Изменить" class="btn btn-outline-dark" />
    <span>Чтобы изменения вступили в силу, вам придется войти в аккаунт еще раз</span>
</form>

<form asp-controller="Home" asp-action="ChangePassword">
    <label>Введите пароль</label>
    <input type="hidden" value="@Model.Id" name="id" />
    <input type="password" name="password" />
    <input type="submit" value="Изменить" class="btn btn-outline-dark" />
</form>
